/*html*/

html {
  scroll-behavior: smooth;
}
/*Smooth Scroll: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2*/



/*HOME PAGE---------------------------------------------------*/


/*Header*/

.headernavigation {
    background-color: #D5DDE2;
}
#logo{
    display: inline;
    width: 10%;
}
#mainheading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px #0B6E4F; /*Text shadow: https://www.w3schools.com/css/css_text_shadow.asp*/
    text-align: center;
    padding: 60px 0px;
    background: #2A7B9B;
    background: linear-gradient(160deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); /*Gradient: https://cssgradient.io/*/
}

/*Hidden*/

.hide {
    display: none;
}

/*Intro*/
#intro{
    text-align: center;
    padding: 30px 0px;
}
#introheading, .subheading{
    color:#0B6E4F;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 2px greenyellow;
    border-bottom: solid 2px #0B6E4F;
    padding-bottom: 12px;
    text-align: center;
}
#introtext {
    font-family: Cambria, serif;
    font-size: 20px;
    line-height: 35px;
    padding-top: 20px;
    text-align: center;
}



/*Cart Information*/


#cartinfo, #cartinfo span{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Products*/

/*All Buttons*/
.addtocartbtn, #resetbtn, #checkoutbtn, #placeorderbtn {
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid 2px #0B6E4F;
    border-radius: 5px;
    background-color: #badf90;
    color: #0B6E4F;
    text-shadow: 2px 2px yellowgreen;
    padding: 5px 20px;
}
#placeorderbtn{
    justify-content: center;
}


/*Buyer Information*/

#headingpage2{
    text-align: center;
}
.subheadingpage2 {
    padding: 30px 0px;
    color: #0B6E4F;
    text-shadow: 1px 1px #85CB33;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-decoration: underline;
}
.buyerinfo, .shippinginfo{
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    color: #0B6E4F;
    font-weight:bold;
    padding-bottom: 5px;
}
input:focus{
    background-color:#d2ff9f;
    border: solid #0B6E4F 2px;

}
/*Footer*/

footer{
    background-color: #85CB33;
    padding: 20px;
}
.footertext {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.footernavigation {
    background-color: #85CB33;
    padding-top: 10px;
}
.socialmedia span, .socialmedia a, .contact span {
    display: block;
    padding: 5px 0px;
}
.socialmedia a, #contact {
    text-decoration: none;
    color: white;
}
.socialmedia a:hover {
    color:blue;
}


